.main_container {
    height: 100%;
    width: 107%;
    // background-color: rgb(185, 185, 184);
    // border:2px solid red
}

element.style{
    width: 107%;
}
.container1 {
    display: flex;
    align-items: center;
    width: 350px;
    height: 400px;
    border-radius: 13px;
    background-color: rgb(241, 239, 238);
    // border: 1px solid rgb(12, 12, 12)
}

.bookstore_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.title{
    font-weight: bold;
    margin-top: 35px;
}
.container2 {
    display: flex;
    height: 500px;
    width: 340px;
    padding: 10px 25px 10px 25px;
    background-color: rgb(246, 244, 243);
    box-shadow: 0px 5px 15px #00000029;
    margin-left: -25px;
    border-radius: 7px;
}

.login {
    // margin-top: 55px;
    margin-bottom: 430px;
    position: relative;
    left: 35px;
    font-size: 20px;
    font-weight: 500;
    color: #807f7f;
    cursor: pointer;
    // border: 1px solid red;
}

.signup {
    // margin-top: 55px;
    margin-bottom: 430px;
    position: relative;
    left: 180px;
    font-size: 20px;
    font-weight: 500;
    color: #807f7f;
    cursor: pointer;
    // border: 1px solid green;
}

.content {
    position: relative;
    right: 35%;
    margin-top: 20px;
}


.mat-form-field {
    // height: 5px;
    width: 275px;
}

.forgot-password{
    display: flex;
    justify-content: flex-end;
    // margin-top: 5px;
}
.btn-primary{
    width: 100%;
    font-size: 16px;
    color: white;
    font-weight: 500;
    background-color: #a43139;
    margin-top: 10px;
}
.OR{
    display: flex;
    justify-content: center;
    margin: 30px;
    color:#9D9D9D;
    font-size: 18;
    font-weight: 500;
}
.btn-facebook{
    padding: 2px 10px;
    font-size: 16px;
    width: 100%;
    margin-right: 5px;
}
.btn-google{
    padding: 2px 10px;
    font-size: 16px;
    width: 100%;
    margin-left: 5px;
    background-color: #E4E4E4;
}
@media (max-width: 400px) {
    .container2{
    margin-left: 10%;
    // height:100%;
    margin-top: 7%;
    width:100%
    }
    .login{
        margin-top:-55px;
    }
    .signup{
        margin-top:-55px; 
    }
}