
.layout{
    padding-bottom: 20px;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 5px;
  }
  
  mat-expansion-panel{
    border: 1px solid lightgray;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .cartItem{
    margin-bottom: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    // justify-content: flex-start;
    align-items: flex-start;
    // border:2px solid red
  }
  .bookImage{
    box-shadow: 2px 2px 5px gray;
    height: 100%;
     width: 90px;
  }

  .book-details{
    padding: 0px 25px;
    width: 100%;
  }
  .bookName{
    font-size: 16px;
    font-weight: 500;
    color: #0A0102;
    margin-bottom: 10px;
  }
  .author{
    font-weight: 500;
    color: #878787;
    margin-bottom: 10px;
  }
  .discountPrice{
    font-size: 15px;
    font-weight: 500;
    color: #0A0102;
    margin-right: 10px;
  }
  .actualPrice{
    color:grey;
  }
 
  .negativebutton {
    background-color: white;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.negative {
    color: lightgrey;
    position: relative;
    top: -10px;

}
.positivebutton {
    background-color: white;
    margin-left: 10px;
    width: 24px;
    height: 24px;

}

.positive {
    color: grey;
    position: relative;
    top: -10px;

}
.remove {
    margin-left: 15px;
    font-size: 13px;
    cursor: pointer;

}

.type {
    margin-left: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}

.home {
    margin-left: 30px;

}

.work {
    margin-left: 100px;

}

.other {
    margin-left: 100px;

}
hr {
  width: 108%;
  margin-top: 30px;
  margin-right: 4px;
  // margin-left: 4px;
  color: #0A0102;
}
@media (max-width: 400px) {
  mat-panel-title{
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 25px;
  }
  .details{
    width: 100%;
  }
  mat-radio-group{
    margin-top: 20px;
  }
  mat-radio-button{
    font-size: 20px;
  }
  mat-label{
    font-size: 25px;
  }
  .type {
  font-size: 30px;
  margin-bottom: 30px;
}
  .bookImage{
     width: 180px;
     margin-bottom: 55px;
    //  border: 2px solid red;
  }
  hr {
   margin-top: 90px;
   width: 150%;
  
}
  .book-details{
    width: 50%;
    // border: 2px solid red;
  }
    .bookname {
      font-size: 30px;
      margin-top: 10px;
    }
    .author {
      font-size: 20px;
      margin-top: 15px;
    }
  .discountPrice{
    font-size: 22px;
    margin-top: 15px;
  }
  .actualPrice{
    font-size: 20px;
    margin-top: 15px;
  }
 
  .negativebutton {
    width: 40px;
    height: 40px;
}

.negative {
    color: rgb(81, 77, 77);
    position: relative;
    top: -5px;
}

.positivebutton {
    margin-left: 15px;
    width: 40px;
    height: 40px;

}

.positive {
  color: rgb(81, 77, 77);
  position: relative;
  top: -5px
}

.remove {
    margin-left: 35px;
    font-size: 20px;
    cursor: pointer;

}

}